@font-face {
    font-family: "getronde";
    src: url('getronde.woff2');
    src: local('getronde');
    src: url('getronde.woff2') format('woff2');
}
.banner {
    padding: 0;
    &_orang {
        position: absolute;
        right: 3%;
        bottom: 3%;
        width: 30%;
        height: auto;
        z-index: 2;
        &::before {
            content: "";
            position: absolute;
            bottom: -8px;
            /* right: 0; */
            width: 100%;
            height: 20px;
            background: #4b4b4b;
            border-radius: 50%;
            opacity: .35;
            z-index: -1;
        }
        @media screen and (max-width:766px) {
            width: 56%;
            bottom: 110px;
            z-index: 70;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    @keyframes panaz {
        0%, 100% {
          bottom: 24%;
          
        }
        50% {
          bottom: 28%;
          
        }
      }
    &_huff {
        position: absolute;
        right: 13%;
        bottom: 14%;
        width: 15%;
        height: auto;
        z-index: 2;
        
        @media screen and (max-width:766px) {
            width: 25%;
            bottom: 24%;
            z-index: 70;
            right: 24%;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    @keyframes awan3 {
        0%, 100% {
          top: 20%;
          
        }
        50% {
          top: 23%;
          
        }
      }

      @keyframes awan2 {
        0%, 100% {
          right: 10%;
          
        }
        50% {
          right: 5%;
          
        }
      }
    .awan {
        position: absolute;
        top: 45%;
        left: 5%;
        width: 150px;
        height: auto;
        opacity: .3;
        &.dua {
            left: initial;
            animation: awan2 5s linear infinite;
            right: 10%;
            top: 40%;
            width: 80px;
            @media screen and (max-width:766px) {
                left: initial;
                right: 5%;
                top: 60%;
                width: 80px;
            }
        }
        &.tiga {
            left: 40%;
            animation: awan3 6s linear infinite;
            top: 20%;
            width: 120px;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    &::before {
        position: absolute;
        bottom: 0;
        content: "";
        right: 0;
        left: 0;
        z-index: 2;
        height: 30vh;
        background: linear-gradient(to top, $oren, transparent);
    }
    .image {
        width: 100%;
        height: 100vh;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .termo {
        position: absolute;
        bottom: -12px;
        left: 23%;
        width: 240px;
        height: 70vh;
        @media screen and (max-width:766px) {
            left: 5%;
            bottom: 0;
            width: 155px;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    &_title {
        position: absolute;
        top: 10%;
        right: 5%;
        color: white;
        z-index: 3;
        text-align: right;
        @media screen and (max-width:766px) {
            bottom: 75%;
            text-align: left;
            right: initial;
            left: 5%;

        }
        h2 {
            font-size: 5.3rem;
            line-height: 4.8rem;
            letter-spacing: 2px;
            font-family: 'getronde';
            // color: #4ec19c;//#ed702b;
            color: #ed7a6c;
            // background: -webkit-linear-gradient(#eee, #333);
            // -webkit-background-clip: text;
            // -webkit-text-fill-color: transparent;
            font-weight: bold;
            text-shadow: 4px 4px #000;
            @media screen and (max-width:766px) {
                font-size: 2.8rem;
                text-shadow: 2px 2px #000;
                font-weight: normal;
                line-height: 2.2rem;
                letter-spacing: 0;
            }
        }
    }

    @keyframes MoveUpDown {
        0%, 100% {
          top: -15%;
          opacity: .4;
        }
        50% {
          top: -20%;
          opacity: 1;
        }
      }
    .asap {
        position: absolute;
        top: -15%;
        opacity: .4;
        animation: MoveUpDown 4s linear infinite;
        width: 240px;
        height: auto;
        z-index: 2;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}