.opening {
    background: $kuning-opening;
    color: #efefef;
    padding: 0;

    &::before {
        position: absolute;
        top: -10px;
        content: "";
        right: 0;
        left: 0;
        z-index: 99;
        height: 20vh;
        background: linear-gradient(to bottom, #e5bc4e, transparent);
    }

    &::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 8vh;
        z-index: 2;
        background: linear-gradient(to top, $kuning-opening, transparent);
    }
    
    .img {
        position: sticky;
        /* bottom: 0; */
        /* right: 0; */
        width: 100%;
        inset: 0;
        z-index: 2;
        height: 100vh;
        @media screen and (max-width:766px) {
            width: 100%;
            transform: initial;
            bottom: 59px;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .wrap-detikx {
        position: relative;
        z-index: 4;
        top: -50vh;
        // padding: 32px 0 0;
        .helo {
            // background: rgba($color: $oren, $alpha: .9);
            background: linear-gradient(to bottom, rgba($oren,.6), #d2a316);
            margin-bottom: 40vh;
            padding: 16px;
            border-radius: 16px;
            @media screen and (max-width:766px) {
                margin-bottom: 50vh;
            }
        }
        .no {
            background: linear-gradient(to bottom, rgba($oren,.5), #d2a316);
            margin-bottom: 0;
            padding: 16px;
            border-radius: 16px;
        }
    }
}