$oren : #e37e42;  //  #d9665a;
$kuning: #FFEB3B;
$kuning-opening: #e5bc4e;
@import 'init';
@import 'teaser';
@import 'banner';
@import 'opening';
@import 'termometer';
@import 'maps';
@import 'grafik';
@import 'dataz';
@import 'datas';
@import 'bubble-chat';
@import 'panas-dunia';
@import 'fixed-img';
// @import 'svg';
@import 'bmkg';