.teaser {
    background: $kuning-opening;
    min-height: auto;
    font-family: 'Young Serif';
    text-align: center;
    .wrap-detikx {
        @media screen and (max-width:766px) {
            width: 95%;
        }
    }
    p {
        font-size: 1.5rem;
        @media screen and (max-width:766px) {
            font-size: 1.15rem;
            
        }

    }
    color: #795f00;
}